In [6]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv("E:\\AI & Machine Learning\\06.Practice\\Datasets\\CSV Files\\iris - Missing.csv")

In [8]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             NaN          NaN           NaN          NaN        NaN
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          NaN  virginica
146           6.3          2.5           5.0          NaN  virginica
147           6.5          3.0           5.2          NaN  virginica
148           6.2          3.4           5.4          NaN  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
df.isna()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2            True         True          True         True     True
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False         True    False
146         False        False         False         True    False
147         False        False         False         True    False
148         False        False         False         True    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [10]:
df.isna().head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0         False        False         False        False    False
1         False        False         False        False    False
2          True         True          True         True     True
3         False        False         False        False    False
4         False        False         False        False    False

In [11]:
df.isnull() # same as isna()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2            True         True          True         True     True
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False         True    False
146         False        False         False         True    False
147         False        False         False         True    False
148         False        False         False         True    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [12]:
df.isna().any() #any column has null value

Sepal.Length    True
Sepal.Width     True
Petal.Length    True
Petal.Width     True
Species         True
dtype: bool

In [13]:
df.isna().any(axis=1) #any row has null value

0      False
1      False
2       True
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149    False
Length: 150, dtype: bool

In [14]:
df.isna().sum() #total null value in each column

Sepal.Length     5
Sepal.Width      7
Petal.Length     2
Petal.Width     85
Species          5
dtype: int64

In [15]:
df.isna().sum(axis=1) #total null value in each row

0      0
1      0
2      5
3      0
4      0
      ..
145    1
146    1
147    1
148    1
149    0
Length: 150, dtype: int64

In [16]:
df.values

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [nan, nan, nan, nan, nan],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, nan, 'setosa'],
       [4.4, 2.9, 1.4, nan, nan],
       [4.9, 3.1, 1.5, nan, 'setosa'],
       [nan, 3.7, 1.5, nan, 'setosa'],
       [4.8, 3.4, 1.6, nan, 'setosa'],
       [4.8, 3.0, 1.4, nan, 'setosa'],
       [4.3, 3.0, 1.1, nan, 'setosa'],
       [nan, nan, nan, nan, 'setosa'],
       [5.7, 4.4, 1.5, nan, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, nan],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [nan, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, nan, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.6, 1.4, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, nan, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, nan, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [nan, 3.1, 4.9, nan, 'versicolor'],
       [5.5, 2.3, 4.0, nan, 'versicolor'],
       [6.5, 2.8, 4.6, nan, 'versicolor'],
       [5.7, 2.8, 4.5, nan, 'versicolor'],
       [6.3, 3.3, 4.7, nan, 'versicolor'],
       [4.9, 2.4, 3.3, nan, 'versicolor'],
       [6.6, 2.9, 4.6, nan, 'versicolor'],
       [5.2, 2.7, 3.9, nan, 'versicolor'],
       [5.0, 2.0, 3.5, nan, 'versicolor'],
       [5.9, 3.0, 4.2, nan, 'versicolor'],
       [6.0, 2.2, 4.0, nan, nan],
       [6.1, 2.9, 4.7, nan, 'versicolor'],
       [5.6, 2.9, 3.6, nan, 'versicolor'],
       [6.7, 3.1, 4.4, nan, 'versicolor'],
       [5.6, 3.0, 4.5, nan, 'versicolor'],
       [5.8, 2.7, 4.1, nan, 'versicolor'],
       [6.2, 2.2, 4.5, nan, 'versicolor'],
       [5.6, 2.5, 3.9, nan, 'versicolor'],
       [5.9, 3.2, 4.8, nan, 'versicolor'],
       [6.1, 2.8, 4.0, nan, 'versicolor'],
       [6.3, 2.5, 4.9, nan, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, nan, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, nan, 'versicolor'],
       [5.7, 2.6, 3.5, nan, 'versicolor'],
       [5.5, 2.4, 3.8, nan, 'versicolor'],
       [5.5, 2.4, 3.7, nan, 'versicolor'],
       [5.8, 2.7, 3.9, nan, 'versicolor'],
       [6.0, 2.7, 5.1, nan, 'versicolor'],
       [5.4, 3.0, 4.5, nan, 'versicolor'],
       [6.0, 3.4, 4.5, nan, 'versicolor'],
       [6.7, 3.1, 4.7, nan, nan],
       [6.3, 2.3, 4.4, nan, 'versicolor'],
       [5.6, 3.0, 4.1, nan, 'versicolor'],
       [5.5, 2.5, 4.0, nan, 'versicolor'],
       [5.5, 2.6, 4.4, nan, 'versicolor'],
       [6.1, 3.0, 4.6, nan, 'versicolor'],
       [5.8, 2.6, 4.0, nan, 'versicolor'],
       [5.0, 2.3, 3.3, nan, 'versicolor'],
       [5.6, 2.7, 4.2, nan, 'versicolor'],
       [5.7, nan, 4.2, nan, 'versicolor'],
       [5.7, 2.9, 4.2, nan, 'versicolor'],
       [6.2, 2.9, 4.3, nan, 'versicolor'],
       [5.1, 2.5, 3.0, nan, 'versicolor'],
       [5.7, 2.8, 4.1, nan, 'versicolor'],
       [6.3, 3.3, 6.0, nan, 'virginica'],
       [5.8, 2.7, 5.1, nan, 'virginica'],
       [7.1, 3.0, 5.9, nan, 'virginica'],
       [6.3, 2.9, 5.6, nan, 'virginica'],
       [6.5, 3.0, 5.8, nan, 'virginica'],
       [7.6, 3.0, 6.6, nan, 'virginica'],
       [4.9, 2.5, 4.5, nan, 'virginica'],
       [7.3, 2.9, 6.3, nan, 'virginica'],
       [6.7, 2.5, 5.8, nan, 'virginica'],
       [7.2, 3.6, 6.1, nan, 'virginica'],
       [6.5, 3.2, 5.1, nan, 'virginica'],
       [6.4, 2.7, 5.3, nan, 'virginica'],
       [6.8, 3.0, 5.5, nan, 'virginica'],
       [5.7, 2.5, 5.0, nan, 'virginica'],
       [5.8, 2.8, 5.1, nan, 'virginica'],
       [6.4, 3.2, 5.3, nan, 'virginica'],
       [6.5, 3.0, 5.5, nan, 'virginica'],
       [7.7, 3.8, 6.7, nan, 'virginica'],
       [7.7, 2.6, 6.9, nan, 'virginica'],
       [6.0, 2.2, 5.0, nan, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, nan, 'virginica'],
       [6.0, 3.0, 4.8, nan, 'virginica'],
       [6.9, 3.1, 5.4, nan, 'virginica'],
       [6.7, 3.1, 5.6, nan, 'virginica'],
       [6.9, 3.1, 5.1, nan, 'virginica'],
       [5.8, 2.7, 5.1, nan, 'virginica'],
       [6.8, 3.2, 5.9, nan, 'virginica'],
       [6.7, 3.3, 5.7, nan, 'virginica'],
       [6.7, 3.0, 5.2, nan, 'virginica'],
       [6.3, 2.5, 5.0, nan, 'virginica'],
       [6.5, 3.0, 5.2, nan, 'virginica'],
       [6.2, 3.4, 5.4, nan, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [17]:
df['Sepal.Length'].values

array([5.1, 4.9, nan, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, nan, 4.8, 4.8,
       4.3, nan, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, nan, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       nan, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [18]:
df.isna().sum().sum() #total null value in dataframe

104

In [19]:
df.isna().sum(axis=1).values #total null value in each row

array([0, 0, 5, 0, 0, 0, 0, 1, 2, 1, 2, 1, 1, 1, 4, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0], dtype=int64)

In [20]:
len(df) #total number of rows

150

In [21]:
df.shape[0] #total number of rows

150

In [22]:
df.shape[1] #total number of columns

5

In [23]:
df_new=df.drop("Petal.Length",axis=1) #drop column
df_new

     Sepal.Length  Sepal.Width  Petal.Width    Species
0             5.1          3.5          0.2     setosa
1             4.9          3.0          0.2     setosa
2             NaN          NaN          NaN        NaN
3             4.6          3.1          0.2     setosa
4             5.0          3.6          0.2     setosa
..            ...          ...          ...        ...
145           6.7          3.0          NaN  virginica
146           6.3          2.5          NaN  virginica
147           6.5          3.0          NaN  virginica
148           6.2          3.4          NaN  virginica
149           5.9          3.0          1.8  virginica

[150 rows x 4 columns]

In [24]:
df_new=df.isna().any(axis=1).sum() #drop row
df_new

91

In [25]:
df_new.dropna() #drop row

AttributeError: 'numpy.int64' object has no attribute 'dropna'

In [26]:
df_new.isna().sum(axis=1).values #total null value in each row

AttributeError: 'numpy.int64' object has no attribute 'isna'

In [27]:
df.isna().sum().sum() #total null value in dataframe

104