In [32]:
import pandas as pd # numpy and pandas can work together
import numpy as np

In [33]:
My_Series=pd.Series([12,22,34,22.334,'cat','dog'],index=['A','B','C','D','E','F'])

In [34]:
My_Series

A        12
B        22
C        34
D    22.334
E       cat
F       dog
dtype: object

In [35]:
My_Series2=pd.Series({'p':22,'C':33,'D':44})

My_Series2

In [36]:
type(My_Series2)

pandas.core.series.Series

In [37]:
My_Series[4]

'cat'

# Pandas data frames

In [38]:
#data frames is a data table

#Using_Dictanary

In [39]:
data={"Name":['kamal','saman','sam'],"Age":[22,34,56]}
df=pd.DataFrame(data)
df

    Name  Age
0  kamal   22
1  saman   34
2    sam   56

In [40]:
#(02).using numpy

In [41]:
arr=np.array([[22,33],[33,44],[55,66]])

In [42]:
arr

array([[22, 33],
       [33, 44],
       [55, 66]])

In [43]:
pd.DataFrame(arr)

    0   1
0  22  33
1  33  44
2  55  66

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
pd.DataFrame(arr,columns=["col_01","col_02"])

   col_01  col_02
0      22      33
1      33      44
2      55      66

In [46]:
DF=pd.read_excel("iris.xlsx")
DF

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [47]:
df1=pd.DataFrame({"val1":np.random.randint(0,100,200),"val2":np.random.randint(200)})

In [48]:
df1

     val1  val2
0      48    43
1      10    43
2      38    43
3      97    43
4      93    43
..    ...   ...
195    20    43
196    28    43
197     5    43
198     9    43
199    32    43

[200 rows x 2 columns]

In [49]:
DF.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [50]:
DF.tail(10)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [51]:
list(DF.columns)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [52]:
list(DF.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149]

In [53]:
DF.shape

(150, 5)

In [54]:
DF.shape[0]

150

In [55]:
DF.shape[1]

5

In [56]:
Ir=pd.read_csv("E:\\Machine Learning & Data science\\12.Practice\\Datasets\\CSV Files\\Online Retail,iris\\iris.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\Machine Learning & Data science\\12.Practice\\Datasets\\CSV Files\\Online Retail,iris\\iris.csv'

In [ ]:
Ir

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
Ir=pd.read_csv('iris.csv')

In [ ]:
Ir

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
Ir.shape

(150, 5)

In [ ]:
Ir.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [ ]:
Ir.tail(10)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
list(Ir.columns)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [ ]:
 df=pd.DataFrame({"col1":[11,22,33,88],"col2":[44,55,66,99],"col3":[55,66,77,54]})
 df

   col1  col2  col3
0    11    44    55
1    22    55    66
2    33    66    77
3    88    99    54

In [ ]:
df["col4"]=[0,6,5,5]
df

   col1  col2  col3  col4
0    11    44    55     0
1    22    55    66     6
2    33    66    77     5
3    88    99    54     5

In [ ]:
df["col1"]

0    11
1    22
2    33
3    88
Name: col1, dtype: int64

In [ ]:
type(df["col1"])

pandas.core.series.Series

In [ ]:
df[["col1","col2"]]

   col1  col2
0    11    44
1    22    55
2    33    66
3    88    99

In [ ]:
df=pd.DataFrame({"name":['kane','sam','stork'] ,"age":[22,33,44],"salary":[1000,2000,3000]})

In [ ]:
df

    name  age  salary
0   kane   22    1000
1    sam   33    2000
2  stork   44    3000

In [ ]:
df["salary"]=[ if x>2000 "high" else "low" for x in df["salary"]]

SyntaxError: invalid syntax (2426459186.py, line 1)

In [57]:
fun=lambda x:x*2

In [58]:
df

    Name  Age
0  kamal   22
1  saman   34
2    sam   56

In [59]:
df["Name"]

0    kamal
1    saman
2      sam
Name: Name, dtype: object

In [60]:
df.apply(sum,axis=0)

TypeError: unsupported operand type(s) for +: 'int' and 'str'